.work-container{
    margin-top: 5vh;
}

.company{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 35px;
    opacity: 0;
    margin-top: 10px;
}

.company-head{
    display: flex;
    flex-wrap: wrap;
}

.company-logo{
    flex: 10%;
}

.logo-img{
    margin-top: 2vh;
    width: 90%;
}

.company-detail{
    flex:90%;
}

.company-name{
    font-size: 18px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--fonts-color);
    text-align: left;
    margin-top: 1vh;
    height: 12px;
}

.duration{
    font-size: 14px;
    font-family: var(--font);
    color: var(--fonts-color);
    text-align: left;
}

.company-description{
    font-size: 14px;
    font-family: var(--font);
    color: var(--fonts-color);
    text-align: left;
    margin-top: 3vh;
}

@media only screen and (max-width: 992px) {
    .work-container{
        margin-top: 2vh;
    }
}