<div class="work-container">
    <div class="work-left">
        <div class="company">
            <div class="company-head">
                <div class="company-logo">
                    <img class="logo-img" src="../../../assets/Images/work/4axis.jpg">
                </div>
                <div class="company-detail">
                    <p class="company-name">
                        4 Axis Solutions
                    </p>
                    <p class="duration">
                        19th December 2022 - 16th June 2023
                    </p>
                </div>
            </div>
            <div class="company-description">
                During My internship, I had the chance to work with the Angular framework, which is widely used for
                web development, and I also gained expertise in Swift, a programming language specifically designed
                for iOS mobile app development. This exposure to both web and mobile development will undoubtedly be
                beneficial for my future career in software engineering.
            </div>
            <div class="company-description">
                Additionally, I acquired knowledge in Firebase, a powerful cloud-based platform for building and
                managing apps, and version control tools, which are essential for collaborative software development.
                Understanding version control is crucial for maintaining code history and facilitating teamwork on
                software projects.
            </div>
            <div class="company-description">
                Overall, My internship at 4Axis Solutions has equipped me with a diverse skill set and hands-on
                experience in cutting-edge technologies, which will undoubtedly serve as a strong foundation for my
                future in the software engineering field. Well done, and best of luck as i continue to grow and excel
                in my career!
            </div>
        </div>
    </div>
    <div class="work-right">
        <div class="company">
            <div class="company-head">
                <div class="company-logo">
                    <img class="logo-img" src="../../../assets/Images/work/bamboo-handicraft-14815367.jpg">
                </div>
                <div class="company-detail">
                    <p class="company-name">
                        Haiku HandiCraft
                    </p>
                    <p class="duration">
                        2019 January onwards
                    </p>
                </div>
            </div>
            <div class="company-description">
                After the A/L examination, a group of us friends embarked on an exciting entrepreneurial journey,
                founding our own business. Through hard work and dedication, we have achieved remarkable milestones,
                marking our success in this endeavor. Setting clear goals and learning from every experience has been
                the driving force behind our progress.
            </div>
            <div class="company-description">
                Our customers' satisfaction is our top priority, and we take
                pride in delivering exceptional products and services. Together, we have formed a strong and passionate
                team, always eager to adapt and improve. Financial management has been crucial, enabling us to make
                informed decisions and invest in marketing efforts to increase brand visibility.
            </div>
            <div class="company-description">
                As we continue to learn and grow, we remain committed to maintaining the highest quality standards and
                embracing feedback for constant improvement. Our success so far fills us with gratitude and motivates us
                to aim even higher, while also cherishing the value of work-life balance amidst our entrepreneurial
                journey.
            </div>

        </div>
    </div>
</div>