.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-top: 8vh;
}

.nav-title {
    color: var(--color2);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: var(--font);
}

.nav-description {
    color:var(--fonts-color);
    font-size: 16px;
    text-align: center;
    width: 80%;
    font-family: var(--font);
    line-height: 1.6;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.project-col{
    flex: 40%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #E5E5E5;
}