<div class="portfolio-container">
    <div class="info-container">
        <div class="info">
            <div class="info-left">
                <img src="../../assets/images/profile.png"
                    alt="1" class="intro-image" id="intro-image" />
            </div>
            <div class="info-right">
                <div class="intro-welcome">Hello, I'm</div>
                <div class="intro-title" id="intro-title">
                    Kukesan Ketheeswaran
                </div>
                <div class="intro-subtitle" id="intro-subtitle">
                    [ Software Engineer ]
                </div>
                <div class="intro-description" id="intro-description">
                    Crafting Innovative Solutions through expertise in Development, Design and Technology to bring Ideas
                    to Life and Drive Success.
                </div>

                <div>
                    <button class="contact-button" id="contact-button" (click)="scrollToNavigateSection()">
                        HIRE ME
                    </button>
                </div>

            </div>
        </div>
        <div class="social-media-col" id="social-media">
            <p class="social-media-title">Check Out Me</p>
            <div >
                <a href="https://www.linkedin.com/in/kukesan/" target="_blank">
                    <img class="social-media-icon" src="../../assets/svg/linkedin.svg" alt="1" />
                </a>
                <a href="https://www.facebook.com/kukesan.ketheeswarn/" target="_blank">
                    <img class="social-media-icon" src="../../assets/svg/facebook.svg" alt="1" />
                </a>
                <a href="https://www.instagram.com/k.kukesan/" target="_blank">
                    <img class="social-media-icon" src="../../assets/svg/instagram.svg" alt="1" />
                </a>
                <a href="https://www.github.com/kukesan" target="_blank">
                    <img class="social-media-icon" src="../../assets/svg/github.svg" alt="1" />
                </a>
            </div>
        </div>
    </div>
</div>