.info {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-container {
    width: 100%;
    margin-top: 0;
}

.info-container {
    background-color: var(--color1);
    height: 100vh;
}

.info-left {
    flex: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
}

.welcome-text {
    color: #89c4f4;
    font-size: 24px;
    font-weight: bold;
    margin-left: 7%;
    font-family: var(--font);
}

.intro-image {
    width: 90%;
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
}

#intro-image {
    opacity: 0;
}

.info-right {
    flex: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    margin-top: 8vh;
}

.intro-welcome {
    color: #89c4f4;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font);
    margin-top: 12vh;
}

.intro-title {
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: var(--font);
    margin-top: 0;
}

#intro-title {
    margin-left: 10px;
    opacity: 0;
}

.intro-subtitle {
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-family: var(--font);
}

#intro-subtitle {
    margin-left: 10px;
    opacity: 0;
}

.intro-description {
    color: whitesmoke;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-family: var(--font);
    line-height: 1.6;
}

#intro-description {
    margin-left: 10px;
    opacity: 0;
}

.contact-button {
    margin-top: 20px;
    appearance: none;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    opacity: 0;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: var(--color1);
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: 2px solid var(--color1);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.social-media-col {
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.social-media-title {
    color: var(--color2);
    font-size: 18px;
    text-align: center;
    font-family: var(--font);
}

#social-media {
    opacity: 0;
    margin-top: 16vh;
}

.social-media-icon {
    height: 36px;
    width: 36px;
    margin: 0 14px;
    filter: invert(80%) sepia(100%) saturate(2%) hue-rotate(307deg) brightness(106%) contrast(101%);
}

.social-media-icon:hover {
   transform:scale(1.1);
   transition-duration: 0.5s;
}

@media only screen and (max-width: 992px) {
    .info{
        display: block;
        width: 90%;
    }
    .info-container {
        height: fit-content;
    }
    
    .intro-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .info-left {
        margin-top: 2vh;
    }
    .intro-welcome {
        margin-top: 2vh;
    }
    .info-right {
        margin-top: 0;
    }
    .contact-button{
        margin-bottom: 2vh;
    }
    .social-media-col{
        margin-top: 2vh;
        
    }
    .social-media-icon{
        margin-bottom: 4vh;
    }
}
