<!-- <app-header></app-header> -->
<div class="container">
    <div class="content home">
        <div class="intro-details">
            <div class="intro-start">I am </div>
            <div class="intro-name">{{displayName}}</div>
            <div class="intro-subject">" I am a Dedicated, Organized and 
                Methodical Individual. I have Good 
                Interpersonal Skills, am an Excellent Team 
                Worker and am keen and very willing to 
                Learn and Develop New Skills "</div>
            <button (click)="hire()" class="hire">Hire Me</button>
        </div>
    </div>
</div>
