.image-gallery{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}

.image-gallery-col{
    flex: 25%;
}

.img-card{
    padding: 3%;
    height: fit-content;
    background-color: none;
}

.img{
    width: 100%;
    height: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 3px;
}