<div class="aboutme-container">
    <div class="aboutme-row">
        <div class="aboutme-col-1">
            <div class="aboutme-subject">
                <div class="nav-title">
                    About Me
                </div>
                <div class="nav-description">
                    "I am a passionate and dedicated professional with a strong background in software development and
                    IT consulting. I am committed to delivering high-quality solutions that meet the needs of my
                    clients and help them achieve their goals."
                </div>
            </div>
        </div>
        <div class="aboutme-col-2">
            <img src="../../assets/svg/aboutme.svg" alt="1" class="aboutme-image" />
        </div>
    </div>
</div>