.experience-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1em 2em;
    margin-top: 6vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.experience-container-heading{
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: 600;
    margin-left: 1vw;
    color: #b55801;
}

.experience-heading {
    font-size: 16px;
    font-family: 'Helvetica';
    font-weight: 600;
    margin-left: 2vw;
    color:#353535;
}

.experience-subject {
    margin-top: 1vh;
    font-size: 14px;
    font-family: 'Helvetica';
    margin-left: 2vw;
    color:#353535;
}

ul li {
    list-style: none;
    position: relative;
    padding: 3px 5px;
    margin: 2%;
}

ul li::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 5px;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-image: url(../../assets/Images/bullet-1.png);
}