<div class="content experience">
    <div class="experience-left" id="experience-left">
        <div id="experience-title" class="experience-title">
            Experience
        </div>
        <div id="experience-subtitle" class="experience-subtitle">
            Some of my projects
        </div>
        <div id="experience-description" class="experience-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget elementum aliquam,
            odio nibh aliquet nunc, vitae aliquam nisl nunc eu nisl. Donec euismod, nisl eget elementum aliquam,
            odio nibh aliquet nunc, vitae aliquam nisl nunc eu nisl.
        </div>
        <button id="experience-seemore-button" class="content-seemore-button">
            VIEW PROJECTS
        </button>
    </div>
    <div class="experience-right" id="experience-right">
        <img src="https://img.resized.co/siliconrepublic/eyJkYXRhIjoie1widXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5zaWxpY29ucmVwdWJsaWMuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE4XFxcLzA5XFxcL3NodXR0ZXJzdG9ja18zMjE5MjE3OTcuanBnXCIsXCJ3aWR0aFwiOjExMDAsXCJoZWlnaHRcIjo2MDAsXCJkZWZhdWx0XCI6XCJodHRwczpcXFwvXFxcL3d3dy5zaWxpY29ucmVwdWJsaWMuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE0XFxcLzEyXFxcLzIwMTMwMlxcXC9wdXp6bGUuanBnXCIsXCJvcHRpb25zXCI6W119IiwiaGFzaCI6IjY2N2YwMzAwMGMyOTBmNzBmZWVhM2U4MDBlYjBjNTVkNDdhNGRlYmUifQ==/shutterstock-321921797.jpg"
            alt="1" class="experience-right-image" id="experience-right-image" />
    </div>
</div>