<div class="portfolio-container">
    <div class="navigate" id="observerTarget">
        <div class="navigate-row">
            <div class="navigator-icon">
                <div class="navigate-details">
                    <p id="navigator-icon-text1" class="navigator-icon-text">Completed Projects</p>
                    <p class="navigator-icon-subject">{{ projectNumber }}+</p>
                </div>
            </div>
            <div class="navigator-icon" >
                <div class="navigate-details">
                    <p id="navigator-icon-text2" class="navigator-icon-text">Years of Experience</p>
                    <p class="navigator-icon-subject">{{experienceOfYear}}+</p>
                </div>
            </div>
            <div class="navigator-icon">
                <div class="navigate-details">
                    <p id="navigator-icon-text3" class="navigator-icon-text">Client Statisfaction</p>
                    <p class="navigator-icon-subject">{{ clientsNumber }}+</p>
                </div>
            </div>
        </div>
    </div>
</div>