.project-container {
    margin-top: 10%;
}

.project-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 2em 2em;
    margin-top: 1vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.project-row-img {
    width: 7%;
    height: 9%;
    filter: invert(32%) sepia(99%) saturate(916%) hue-rotate(4deg) brightness(96%) contrast(99%);
}

.project-heading {
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: 600;
    margin-left: 3vw;
    color: #353535;
}

.project-subject {
    margin-top: 1vh;
    font-size: 15px;
    font-family: 'Helvetica';
    margin-left: 3vw;
    color: #353535;
}