<div class="container">
    <div class="nav-title">
        Recent Works
    </div>
    <div class="nav-description">
        A Collection of Impactful Projects built to solve Real Challenges.
    </div>
    <div class="project-row">
        <div class="project-col" *ngFor="let project of projects"  [@fadeInOut]="isVisible ? 'visible' : 'hidden'">
            <img [src]="project.imgSrc" alt="{{ project.title }}" class="nav-image" />
            <div class="project-subject">
                <p class="nav-title2">
                    {{ project.title }}
                </p>
                <p class="nav-description2">
                    {{ project.description }}
                </p>
            </div>
        </div>
    </div>
        <a href="https://www.linkedin.com/in/kukesan/details/projects/" target="_blank" class=" nav-button nav-link">See More</a>
</div>
