<div class="portfolio-container">
    <div class="nav-tag">
        <app-side-bar></app-side-bar>
    </div>
    <div class="project-container">
        <div class="head">
            <!-- <img class="project-icon" src="https://cdn-icons-png.flaticon.com/512/9636/9636421.png"> -->
            <p class="project-title">Projects & Works</p>
            <div class="title-underline" id="title-underline"></div>
        </div>
        <div *ngFor="let project of projects; let i = index" >
            <div class="project-row">
                <div class="project-indicator">
                    <img class="project-row-icon" [@projectAnimation]="projectAnimationStates[i]">
                    <div class="vl"></div>
                </div>
                <div class="project-row-details" id="project-row-details" [@projectAnimation]="projectAnimationStates[i]">
                    <div class="heading-row">
                        <p class="project-heading">{{project.name}}</p>
                        <img *ngIf="project.github != ''" (click)="goGitHub(project.github)" class="github-icon"
                            src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
                    </div>
                    <p class="project-tech">{{project.technologies}}</p>
                    <p class="project-subject">{{project.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ad-tag">

    </div>
</div>