.portfolio-container {
  width: 70%;
  height: 380px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 120px;
}

.left-content {
  flex: 60%;
  margin-left: auto;
  margin-right: auto;
}

#left-content {
  opacity: 0;
}

.contact-title {
  margin-top: 3vh;
  color: var(--fonts-color);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  font-family: var(--font);
  height: 10px;
}

.contact-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.first-row{
  display: flex;
}

.contact-cell{
  height: 25px;
  margin-top: 40px;
}

.contact-form-col {
  
  padding: 4px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: var(--fonts-color);
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
  
  width: 100%;
}

.contact-form-name {
  width: 100%;
  flex: 50%;
}

.contact-form-phone {
  margin-left: 4%;
  width: 100%;
  flex: 50%;
}

.contact-form-email {
  width: 100%;
}

.contact-form-message {
  width: 100%;
}

.contact-form-btn {
  margin-top: 40px;
  background-color: var(--color1);
  border-radius: 2px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 700;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 8px 10px;
  height: auto;
  width: 100px;
}

.contact-form-btn:hover,
.contact-form-btn:focus {
  opacity: 0.75;
}

.right-content {
  flex: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color1);
  margin-bottom: 380px;
}

.contact-information {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.contact-information-title {
  margin-top: 40px;
  color: #ffffff;
  font-size: 24px;
  text-align: left;
  font-family: var(--font);
}

.contact-information-title-underline {
  border: 2px solid #7995db;
  width: 210px;
  margin-right: 200px;
  opacity: 0;
}

.contact-information-item {
  display: flex;
  margin-top: 30px;
}

.contact-information-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

.contact-information-item-text {
  margin-top: 1.5px;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  font-family: var(--font);
  letter-spacing: 0.6px;
  margin-left: 2px;
  height: 8px;
}

div.error-message {
  color: red;
  font-size: 14px;
}

.contact-form-btn:disabled {
  background-color: #ccc; /* Grayed out background color */
  color: var(--fonts-color); /* Grayed out text color */
  cursor: not-allowed; /* Show 'not-allowed' cursor on hover */
}

.success-message {
  padding: 10;
  color: #246924;
  border-radius: 4px;
}

@media only screen and (max-width: 992px) {
  .portfolio-container {
    width: 90%;
    display: block;
    height: fit-content;
  }

  .contact-information{
    padding: 2vh 0;
  }

  .contact-information-item {
    margin-top: 2vh;
  }
  .contact-information-title {
    margin-top: 2vh;
  }
}