
.navigate {
    margin-top: 14vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.project-title {
    font-size: 32px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--fonts-color);
    height: 24px;
    text-align: center;
    width: 100%;

}

.navigate-row {
    display: flex;
    margin-top: 8vh;
}

.navigator-icon {
    flex: 20%;
    /* height: 80px; */
    height: auto;
}

.navigate-details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    border-radius: 3px;
}

.navigator-icon-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: auto;
    filter: invert(20%) sepia(9%) saturate(2208%) hue-rotate(186deg) brightness(96%) contrast(85%) drop-shadow(2px 3px 2px #787777);
}

.navigator-icon-text {
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: var(--font);
}

.navigator-icon-subject {
    color: var(--font-color);
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--font);
    height: 12vh;
}

.navigator-icon-image{
    opacity: 0;
    width: 20%;
}

#navigator-icon-text {
    opacity: 0;
    margin-top: 15px;
}

.nav-button{
   margin-left: auto;
   margin-right: auto;
   display: block;
   padding: 10px 20px;
}


.nav-button {
  align-items: center;
  background-color: #67b4f3;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(33, 33, 33, 0.26) 0 2px 3px 1px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-direction: row;
  flex-shrink: 0;
  font-family: var(--font);
  font-size: 100%;
  line-height: 1.15;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.nav-button:active {
  background-color: #67b4f3;
}

.nav-button:hover {
  background-color: #67b4f3;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .navigate-row {
        display: block;
        margin-top: 0;
    }

    .navigate {
        margin-top: 2vh;
    }

    .navigator-icon {
        margin-top: 8vh;
    }

    .navigator-icon-text {
        font-size: 20px;
        margin-top: 0;
        height: 2vh;
    }

    .navigator-icon-subject {
        height: fit-content;
        margin-top:0;
    }
}