<div class="portfolio-container">
    <div class="navigate">
        <div class="navigate-row">
            <div class="navigator-icon">
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image1" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/9636/9636421.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text1" class="navigator-icon-text">Projects & Works</p>
                    <p class="navigator-icon-subject">I included links to my website and GitHub for my projects and
                        works.</p>
                    <button class="nav-button"  (click)="goProjects()">Click Here</button>
                </div>
            </div>
            <div class="navigator-icon" >
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image2" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/9741/9741669.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text2" class="navigator-icon-text">Achievements</p>
                    <p class="navigator-icon-subject">I've achieved several solo and group accomplishments.</p>
                    <button class="nav-button" (click)="goAchivements()">Click Here</button>
                </div>
            </div>
            <div class="navigator-icon">
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image3" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/3442/3442327.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text3" class="navigator-icon-text">Skills & Abilities</p>
                    <p class="navigator-icon-subject">You can view knowledge concerning my skills and some learning
                        platform performance.</p>
                    <button class="nav-button"  (click)="goSkills()">Click Here</button>
                </div>
            </div>
        </div>
    </div>
</div>