.info {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.portfolio-container {
    width: 100%;
    margin-top: 0;
}

.info-container {
    background-color: var(--color1);
    height: 100vh;
}

.info-left {
    flex: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
}

.welcome-text {
    color: #89c4f4;
    font-size: 24px;
    font-weight: bold;
    margin-left: 7%;
    font-family: var(--font);
}

.intro-image {
    width: 90%;
    /* height: 100%; */
    margin-left: 7%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* background-color: white; */
    border-radius: 8px;
}

#intro-image {
    opacity: 0;
}

.info-right {
    flex: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    margin-top: 8vh;
}

.intro-welcome {
    color: #89c4f4;
    font-size: 24px;
    font-weight: bold;
    font-family: var(--font);
    margin-top: 12vh;
}

.intro-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: var(--font);
}

#intro-title {
    margin-left: 10px;
    opacity: 0;
}

.intro-subtitle {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-family: var(--font);
}

#intro-subtitle {
    margin-left: 10px;
    opacity: 0;
}

.intro-description {
    color: white;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    width: 100%;
    font-family: var(--font);
    line-height: 1.6;
}

#intro-description {
    margin-left: 10px;
    opacity: 0;
}

#social-media {
    opacity: 0;
}

.social-media-icon {
    margin-top: 20px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.contact-button-container {}

.contact-button {
    margin-top: 20px;
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    min-width: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
    opacity: 0;
}

.contact-button:disabled {
    pointer-events: none;
}

.contact-button:hover {
    color: var(--color1);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    border: 2px solid var(--color1);
}

.contact-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.navigate {
    margin-top: 14vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.project-title {
    font-size: 32px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--fonts-color);
    height: 24px;
    text-align: center;
    width: 100%;

}

.navigate-row {
    display: flex;
    margin-top: 8vh;

}

.navigator-icon {
    flex: 20%;
    height: 80px;
    /* background-color: white; */
    height: auto;

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.navigate-details {
    width: 80%;
    background-color: #89c4f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 30px 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    border-radius: 3px;
    /* border: 1px solid black; */
}

.navigator-icon-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
    height: auto;

    /* filter: brightness(0) invert(1); */
    filter: invert(20%) sepia(9%) saturate(2208%) hue-rotate(186deg) brightness(96%) contrast(85%) drop-shadow(2px 3px 2px #787777);
}

.navigator-icon:hover {
    transition-duration: 0.5s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.navigator-icon-text {
    color: var(--font-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: var(--font);
}

.navigator-icon-subject {
    color: var(--font-color);
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--font);
    /* width: 80%; */
}

#navigator-icon-image1 {
    opacity: 0;
    width: 20%;
}

#navigator-icon-image2 {
    opacity: 0;
    width: 20%;
}

#navigator-icon-image3 {
    opacity: 0;
    width: 20%;
}

#navigator-icon-text1 {
    opacity: 0;
    margin-top: 15px;
}

#navigator-icon-text2 {
    opacity: 0;
    margin-top: 15px;
}

#navigator-icon-text3 {
    opacity: 0;
    margin-top: 15px;
}