<div class="portfolio-container">
    <div class="info-container">
        <div class="info">
            <div class="info-left">
                <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Fdp.png?alt=media&token=4a63055e-69c8-407e-a1b6-675951adb4f2" alt="1" class="intro-image" id="intro-image" />
            </div>
            <div class="info-right">
                <div class="intro-welcome">Hello, I'm</div>
                <div class="intro-title" id="intro-title">
                    Ketheeswaran Kukesan
                </div>
                <div class="intro-subtitle" id="intro-subtitle">
                    Software Engineer
                </div>
                <div class="intro-description" id="intro-description">
                    As an IT enthusiast, I am deeply passionate about the boundless possibilities of technology to
                    reshape
                    the world. With a focus on Software Engineering and AI, I am committed to perpetual learning and
                    honing
                    my problem-solving skills.
                </div>
                
                <div>
                    <button class="contact-button" id="contact-button" (click)="scrollToNavigateSection()">
                        CONTACT ME
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="navigate">
        <div class="navigate-row">
            <div class="navigator-icon" (click)="goProjects()">
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image1" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/9636/9636421.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text1" class="navigator-icon-text">Projects & Works</p>
                    <p class="navigator-icon-subject">I included links to my website and GitHub for my projects and
                        works.</p>
                </div>
            </div>
            <div class="navigator-icon" (click)="goAchivements()">
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image2" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/9741/9741669.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text2" class="navigator-icon-text">Achievements</p>
                    <p class="navigator-icon-subject">I've achieved several solo and group accomplishments.</p>
                </div>
            </div>
            <div class="navigator-icon" (click)="goSkills()">
                <div class="navigate-details">
                    <a>
                        <img id="navigator-icon-image3" class="navigator-icon-image"
                            src="https://cdn-icons-png.flaticon.com/512/3442/3442327.png" alt="1" />
                    </a>
                    <p id="navigator-icon-text3" class="navigator-icon-text">Skills & Abilities</p>
                    <p class="navigator-icon-subject">You can view knowledge concerning my skills and some learning
                        platform performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>