<div class="portfolio-container info">
    <div class="info-left">
        <img src="https://img.freepik.com/premium-photo/young-handsome-blonde-man-isolated-white-background-pointing-front-with-happy-expression_1368-428012.jpg"
            alt="1" class="intro-image" id="intro-image" />
    </div>
    <div class="info-right">
        <div class="intro-title" id="intro-title">
            Ketheeswaran Kukesan
        </div>
        <div class="intro-subtitle" id="intro-subtitle">
            Software Engineer
        </div>
        <div class="intro-description" id="intro-description">
            I am a Software Engineer with 3+ years of experience in developing web applications using Java, Spring Boot,
            Angular, React, NodeJS, and AWS.
        </div>
        <div id="social-media">
            <a href="https://www.linkedin.com/in/ketheeswaran-kukesan-0b1b0a1a0/" target="_blank">
                <img class="social-media-icon"
                    src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"
                    alt="1" />
            </a>
            <a href="https://www.facebook.com/ketheeswaran.kukesan/" target="_blank">
                <img class="social-media-icon"
                    src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png"
                    alt="1" />
            </a>
            <a href="https://www.instagram.com/kukesan/" target="_blank">
                <img class="social-media-icon"
                    src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-512.png"
                    alt="1" />
            </a>
            <a href="https://www.github.com/kukesan" target="_blank">
                <img class="social-media-icon"
                    src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_color-512.png"
                    alt="1" />
            </a>
        </div>
        <div>
            <button class="contact-button" id="contact-button" (click)="goContactUs()">
                CONTACT ME
            </button>
        </div>
    </div>
</div>
<div class="portfolio-container navigate">
    <div class="navigator-icon" (click)="goProjects()">
        <a>
            <img id="navigator-icon-image1" class="navigator-icon-image"
                src="https://cdn-icons-png.flaticon.com/512/9636/9636421.png" alt="1" />
        </a>
        <div id="navigator-icon-text1" class="navigator-icon-text">Projects & Works</div>
    </div>
    <div class="navigator-icon" (click)="goAchivements()">
        <a>
            <img id="navigator-icon-image2" class="navigator-icon-image"
                src="https://cdn-icons-png.flaticon.com/512/9741/9741669.png" alt="1" />
        </a>
        <div id="navigator-icon-text2" class="navigator-icon-text">Achievements</div>
    </div>
    <div class="navigator-icon" (click)="goSkills()">
        <a>
            <img id="navigator-icon-image3" class="navigator-icon-image"
                src="https://cdn-icons-png.flaticon.com/512/3442/3442327.png" alt="1" />
        </a>
        <div id="navigator-icon-text3" class="navigator-icon-text">Skills & Abilities</div>
    </div>
</div>