<div class="portfolio-container3">
    <div class="head">
        <p class="project-title">Unlocking Knowledge and Skills</p>
        <p class="head-subtitle">Explore the digital realm and unleash your potential. Empower your skills, embrace
            learning, and discover endless possibilities on this transformative journey.</p>
    </div>
    <div class="link-container" id="link-container">
        <div class="link-card" id="link-card" *ngFor="let link of skillLinks; let i = index">
            <img class="link-card-photo" src={{link.icon}}>
            <div class="link-card-heading">{{link.name}}</div>
        </div>
    </div>
</div> 