<div class="portfolio-container">
    <div class="nav-tag">
        <app-side-bar></app-side-bar>
    </div>
    <div class="experience-container">
        <div class="head">
            <p class="project-title">Entertainment</p>
            <div class="title-underline" id="title-underline"></div>
        </div>
        <div class="experience-categories-row">
            <p class="category" routerLink="/entertainment/photography" routerLinkActive="active">Photography</p>
            <p class="category" routerLink="/entertainment/photoshop" routerLinkActive="active">Photoshop</p>
            <!-- <p class="category" routerLink="/entertainment/pencil-art" routerLinkActive="active">Pencil Art</p> -->
        </div>
        <hr class="hl">
            <router-outlet></router-outlet>
    </div>
    <div class="ad-tag">

    </div>
</div>