<div class="image-gallery">
    <div class="image-gallery-col">
        <div class="img-card" *ngFor="let image of photographyImagesCol1">
            <img class="img" src={{image.imageUrl}}>
        </div>
    </div>
    <div class="image-gallery-col">
        <div class="img-card" *ngFor="let image of photographyImagesCol2">
            <img class="img" src={{image.imageUrl}}>
        </div>
    </div>
    <div class="image-gallery-col">
        <div class="img-card" *ngFor="let image of photographyImagesCol3">
            <img class="img" src={{image.imageUrl}}>
        </div>
    </div>
    <div class="image-gallery-col">
        <div class="img-card" *ngFor="let image of photographyImagesCol4">
            <img class="img" src={{image.imageUrl}}>
        </div>
    </div>
</div>