<div class="portfolio-container3">
    <div class="head">
        <p class="project-title">Technologies</p>
        <p class="head-subtitle">A diverse skill set crafted to solve modern digital challenges effectively</p>
    </div>
    <div class="link-container" id="link-container">
        <div class="link-card" id="link-card" *ngFor="let topskill of topSkills; let i = index">
            <img class="link-card-photo" src='{{topskill.imgUrl}}'>
            <div class="link-card-heading">{{topskill.name}}</div>
        </div>
    </div>
    <a href="https://www.hackerrank.com/profile/K_Kukesan" target="_blank" class="check-button">Check Me</a>
</div> 