<div class="service-container">
    <div class="nav-title">
        Services
    </div>
    <div class="nav-description">
        Expert Solutions combining Creativity, Functionality and Technical Excellence Seamlessly.
    </div>
    <div class="service-row" [@fadeInOut]="isVisible ? 'visible' : 'hidden'">
        <div class="service-col" *ngFor="let service of services" >
                <img [src]="service.imgSrc" alt="{{ service.title }}" class="nav-image" />
            <div class="service-subject">
                <div class="nav-title2">
                    {{ service.title }}
                </div>
                <div class="nav-description2">
                    {{ service.description }}
                </div>
            </div>
        </div>
    </div>
</div>