<div class="modal-content">
    <p class="comment-heading">Reviews & Comments</p>
    <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="addCommentDetails()">
        <div class="top-row">
            <div class="top-row-left">
                <img class="profile-img" src="https://cdn-icons-png.flaticon.com/128/3033/3033143.png">
                <!-- <p class="add-image">Add Image</p> -->
            </div>
            <div class="top-row-right">
                <input class="comment-row name" placeholder="Your Name" formControlName="name">
                <input class="comment-row position" placeholder="Your Position" formControlName="position">
            </div>
        </div>

        <textarea class="comment-row comment" placeholder="Comment" formControlName="comment" rows="4"></textarea>
        <button class="comment-button">Add</button>
    </form>
</div>