.modal-content {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    /* Adjust the desired height */
    width: 600px;
    /* Adjust the desired width */
    max-width: 800px !important;
    /* Adjust the maximum width as needed */
    margin: 1.75rem auto;
    /* Adjust the margin as needed */
}

.comment-heading {
    text-align: center;
    font-size: 16px;
    font-family: var(--font);
    margin-top: 2vh;
    font-weight: bold;
}

.comment-row {
    margin-right: auto;
    display: block;
    border: none;
    border-bottom: 1px solid var(--color1);
    outline: none;
    padding: 2px 5px;
    margin-bottom: 3vh;
    font-size: 14px;
}

.top-row {
    display: flex;
}

.top-row-left {
    flex: 20%
}

.top-row-right {
    flex: 80%;
}

.profile-img {
    width: 65%;
    height: auto;
    margin-left: 25%;
    border-radius: 50%;
}

.add-image {
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-left: 7%;
    color: var(--color1);
}

.name {
    width: 94%;
    margin-left: none;
}

.position {
    width: 94%;
    margin-left: none;
}

.comment {
    background-color: rgb(244, 244, 244);
    width: 90%;
    margin-left: auto;
}

.comment-button {
    width: 15%;
    padding: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: var(--color1);
    color: white;
    font-family: var(--font);
}

.thank-img{
    width: 20%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 50%;
    min-width: 100px;
}

.thank-para{
    text-align: center;
    font-size: 14px;
    font-family: var(--font);
    margin-top: 2vh;

}

@media only screen and (max-width: 992px) {
    .modal-content {
        width: 90%;
    }
}