<div class="container">
    <div class="side-bar-col">
        <app-side-bar></app-side-bar>
    </div>
    <div class="content">
        <div class="achive-container">
            <ul>
                <li>
                    <p class="achive-heading"> Road to CodeMania'21: Python Fundamentals & Algorithmic
                        Programming</p>
                    <p class="achive-subject">[Organized by IEEE Computer Society of SLTC]</p>
                </li>
                <li>
                    <p class="achive-heading"> AdaGrad ’21, Introduction to Machine Learning</p>
                    <p class="achive-subject">[Organized by IEEE Computer Society of SLTC]</p>
                </li>
                <li>
                    <p class="achive-heading">Semi-Finale Under Open Category in Idealize 2021</p>
                    <p class="achive-subject">[Team Event – organized by AIESEC in University of
                        Moratuwa]</p>
                    <p class="achive-subject">
                        We created an Android Mobile App for Social Service
                        Technology – Kodular App Creater, OneSignal, Firebase</p>
                </li>
                <li>
                    <p class="achive-heading">Semi Finalists Under University Category in Thinkwave 3.0</p>
                    <p class="achive-subject">[Team Event – organized by AIESEC in University of
                        Moratuwa]</p>
                    <p class="achive-subject">
                        We proposed Smart Drain System for some issues in public
                        places. We Design with sensors & microcontrollers</p>
                </li>
            </ul>
        </div>
    </div>
</div>