<div class="portfolio-container">
    <div class="nav-tag">
        <app-side-bar></app-side-bar>
    </div>
    <div class="achive-container">
        <div class="head">
            <p class="project-title">Awards & Achivements</p>
            <div class="title-underline" id="title-underline"></div>
        </div>
        <div *ngFor="let achive of achives; let i = index">
            <div class="achive-row" *ngIf="i%2==0">
                <div class="achive-left">
                    <div class="achive-container-details" id="achive-row1">
                        <p class="achive-heading">{{achive.name}}</p>
                        <p class="achive-subject">{{achive.about}}</p>
                        <p class="achive-subject">{{achive.description}}</p>
                    </div>
                </div>
                <div class="achive-center">
                    <img class="achive-row-img"
                        src="https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Faward.png?alt=media&token=a68a9606-df54-4ecf-8db0-f7452f11e472">
                    <div class="vl">
                        <div class="vl1"></div>
                        <div class="vl2"></div>
                        <div class="vl3"></div>
                    </div>
                </div>
                <div class="achive-right"></div>
            </div>

            <div class="achive-row" *ngIf="i%2==1">
                <div class="achive-left"></div>
                <div class="achive-center">
                    <img class="achive-row-img"
                        src="https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Faward.png?alt=media&token=a68a9606-df54-4ecf-8db0-f7452f11e472">
                    <div class="vl">
                        <div class="vl1"></div>
                        <div class="vl2"></div>
                        <div class="vl3"></div>
                    </div>
                </div>
                <div class="achive-right">
                    <div class="achive-container-details" id="achive-row2">
                        <p class="achive-heading">{{achive.name}}</p>
                        <p class="achive-subject">{{achive.about}}</p>
                        <p class="achive-subject">{{achive.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ad-tag"></div>
</div>