.container {
    height: 100%;
    display: flex;
}

.side-bar-col {
    flex: 25%;
}

.content {
    width: 100%;
    flex: 75%;
}

.achive-container {
    width: 80%;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
}

.achive-container-row{
    display: flex;
    padding: 0 1em;
}

.achive-container-row-img{
    width: 4%;
    height: 4%;
    padding: 1em;
    /* filter:  invert(19%) sepia(37%) saturate(572%) hue-rotate(177deg) brightness(95%) contrast(93%); */
    filter: invert(32%) sepia(99%) saturate(916%) hue-rotate(4deg) brightness(96%) contrast(99%);
}

.achive-container-details{
  padding: 1em;
}

.achive-heading {
    font-size: 20px;
    font-family: 'Helvetica';
    font-weight: 600;
    color:#353535;
}

.achive-subject {
    margin-top: 1vh;
    font-size: 15px;
    font-family: 'Helvetica';
    color:#353535;
}



