<div class="portfolio-container" id="review">
    <div class="head">
        <img class="review-icon" src="https://cdn-icons-png.flaticon.com/128/9228/9228191.png">
        <p class="review-title">Reviews</p>
        <img (click)="open()" class="add-icon" src="https://cdn-icons-png.flaticon.com/128/1828/1828921.png">
    </div>
    <hr class="hl">
    <div class="reviews-list">
        <div class="review" *ngFor="let comment of comments">
            <div class="profile-icon">
                <img class="profile-icon-img" src="https://cdn-icons-png.flaticon.com/128/3033/3033143.png">
            </div>
            <div class="review-details">
                <p class="name">{{comment.name}}</p>
                <p class="designation">{{comment.position}}</p>
                <p class="comment">{{comment.comment}}.</p>
            </div>
        </div>
    </div>
</div>