.portfolio-container1{
    width: 100%;
    background-color: #e1e1e1;
    height: 450px;
    margin-top: 30vh;
}

.portfolio-col-2 {
    flex: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.nav-title {
    color: var(--fonts-color);
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: var(--font);
}

.nav-subtitle {
    color: var(--fonts-color);
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-family: var(--font);
}

.nav-description {
    color: var(--fonts-color);
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    width: 80%;
    font-family: var(--font);
    line-height: 1.6;
}

.content-seemore-button {
    margin-top: 20px;
    background-image: linear-gradient(-180deg, #3e4862 0%, #2b3243 100%);
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: .4rem 1rem;
    text-decoration: none;
    width: 32%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: var(--font);
}

.content-seemore-button:hover {
    background-image: linear-gradient(-180deg, #2c3447 0%, #1b202b 100%);
}

@media (min-width: 768px) {
    .content-seemore-button {
        padding: .6rem 0.4rem;
    }
}

.nav-image {
    width: 96%;
    height: auto;
    display: block;
    border-radius: 2px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.entertainment-nav-image {
    margin-right: 0;
    height: 100%;
    width: 80%;
}

.experience-nav-image {
    float: right;
}



.experience {
    margin-top: 20px;
    height: 50vh;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0;
}

.experience-subject {
    margin-top: 1vh;
}

.entertainment {
    margin-top: 10vh;
    height: 60vh;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0;
    /* background-size: cover; */
    /* background-image: url("https://img.freepik.com/free-photo/closeup-dj-working-blue-light_181624-18773.jpg?w=1380&t=st=1688896817~exp=1688897417~hmac=59cb52e0134454c5712af6b15c776b84fefffba745affa115ffe6ac5dfbb069b"); */
}

.entertainment-subject {
    margin-left: 40px;
    margin-top: 1vh;
}