.portfolio-container1{
    width: 100%;
    background-color: #e1e1e1;
    height: 450px;
    margin-top: 30vh;
}

.portfolio-container2{
    width: 100%;
    height: 450px;
    margin-top: 20vh;
}

.portfolio-col-2 {
    flex: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.nav-title {
    color: var(--fonts-color);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    font-family: var(--font);
}

.nav-subtitle {
    color: var(--fonts-color);
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-family: var(--font);
}

.nav-description {
    color: var(--fonts-color);
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    width: 80%;
    font-family: var(--font);
    line-height: 1.6;
}

.nav-title2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    font-family: var(--font);
    margin-right: 30px;
    margin-top: 3vh;
}

.nav-description2 {
    color: white;
    font-size: 16px;
    text-align: right;
    margin-top: 20px;
    font-family: var(--font);
    line-height: 1.6;
    margin-right: 30px;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.content-seemore-button {
    margin-top: 20px;
    background-image: linear-gradient(-180deg, #3e4862 0%, #2b3243 100%);
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: .4rem 1rem;
    text-decoration: none;
    width: 32%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: var(--font);
}

.content-seemore-button:hover {
    background-image: linear-gradient(-180deg, #2c3447 0%, #1b202b 100%);
}

@media (min-width: 768px) {
    .content-seemore-button {
        padding: .6rem 0.4rem;
    }
}

.nav-image {
    width: 96%;
    height: auto;
    display: block;
    border-radius: 2px;
}

.entertainment-nav-image {
    margin-left: 100px;
    height: 80%;
    width: 60%;
}

.experience-nav-image {
    float: right;
    margin-right: 2vw;
}



.experience {
    margin-top: 20px;
    height: 50vh;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0;
}

.experience-subject {
    margin-top: 5vh;
    margin-left: 4vw;
}

.entertainment {
    margin-top: 10vh;
    height: 65vh;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-size: cover;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Fthum.jpg?alt=media&token=b6fe853e-c58f-4f85-9470-a1a9756f6428");
}

.entertainment-subject {
    margin-left: 40px;
    margin-top: 1vh;
}

.portfolio-container3{
    width: 100%;
    background-color: #e1e1e1;
    /* height: 400px; */
    margin-top: 20vh;
    padding: 30px 0;
}


.head {
    margin-bottom: 5vh;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.project-title {
    font-size: 32px;
    font-family: var(--font);
    font-weight: 600;
    color: var(--fonts-color);
    height: 24px;
    text-align: center;
    width: 100%;
}

.head-subtitle{
    font-size: 16px;
    text-align: center;
    padding: 15px 0;
    font-family: var(--font);
    color: var(--fonts-color);
}

.link-container {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    margin-top: 20px;
}

.link-row {
    display: flex;
    /* margin-top: 4%; */
}

.link-card {
    width: 18%;
    flex: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 3px;
}

.link-card-photo {
    width: 40%;
    height: 8vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 2vw;
}

.link-card-heading {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #353535;
    text-align: center;
    padding: 0.8em 0em;
    font-weight: 600;
    height: 60px;
}

.link-card-click {
    text-align: center;
    background-color: var(--color1);
    color: white;
    height: 6vh;
    padding: 0.6em 0;
    font-size: 16px;
}