<app-info></app-info>
<app-intro></app-intro>
<app-aboutme></app-aboutme>
<app-services></app-services>
<!-- <div class="portfolio-container1">
    <div class="experience">
        <div class="portfolio-col-2" id="experience-left">
            <div class="experience-subject">
                <div class="nav-title">
                    Experience
                </div>
                <div class="nav-description">
                    "The best lessons are learned through experience, and the toughest ones often become the most
                    cherished"
                </div>
                <button class="content-seemore-button" (click)="goExperience()">
                    See More
                </button>
            </div>
        </div>
        <div class="portfolio-col-2" id="experience-right">
            <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Fexperience.png?alt=media&token=6c46f24c-47b6-43ce-b48c-7d405f1bed43"
                alt="1" class="nav-image experience-nav-image" id="experience-right-image" />
        </div>
    </div>
</div>

<div class="portfolio-container2">
    <div class="portfolio-container entertainment">
        <div class="entertainment-left portfolio-col-2" id="entertainment-left">
        </div>
        <div class="entertainment-right portfolio-col-2" id="entertainment-right">
            <div class="entertainment-subject">
                <div class="nav-title2">
                    Unveiling Imagination
                </div>
                <div class="nav-description2">
                    Engaging with literature, art, films, and other forms of creative expression can broaden your
                    horizons and introduce you to different worlds, sparking your own imaginative endeavors.
                </div>
                <button class="button-38" (click)="goEntertainment()">
                    See More
                </button>
            </div>
        </div>
    </div>
</div> -->
<app-top-skills></app-top-skills>
<app-dashboard-projects></app-dashboard-projects>
<!-- <app-home-skills></app-home-skills> -->
<div id="contact-component">
    <app-contact></app-contact>
</div>
<app-footer></app-footer>