<app-intro></app-intro>
<app-education></app-education>
<div class="portfolio-container1">
    <div class="experience">
        <div class="portfolio-col-2" id="experience-left">
            <div class="experience-subject">
                <div class="nav-title">
                    Experience
                </div>
                <!-- <div class="nav-subtitle">
                    Some of my projects
                </div> -->
                <div class="nav-description">
                    "The best lessons are learned through experience, and the toughest ones often become the most
                    cherished"
                </div>
                <button class="content-seemore-button" (click)="goExperience()">
                    See More
                </button>
            </div>
        </div>
        <div class="portfolio-col-2" id="experience-right">
            <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Fexperience.png?alt=media&token=6c46f24c-47b6-43ce-b48c-7d405f1bed43"
                alt="1" class="nav-image experience-nav-image" id="experience-right-image" />
        </div>
    </div>
</div>

<div class="portfolio-container2">
    <div class="portfolio-container entertainment">
        <div class="entertainment-left portfolio-col-2" id="entertainment-left">
        </div>
        <div class="entertainment-right portfolio-col-2" id="entertainment-right">
            <div class="entertainment-subject">
                <div class="nav-title2">
                    Unveiling Imagination
                </div>
                <!-- <div class="nav-subtitle2">
                    Some of my projects
                </div> -->
                <div class="nav-description2">
                    Engaging with literature, art, films, and other forms of creative expression can broaden your
                    horizons and introduce you to different worlds, sparking your own imaginative endeavors.
                </div>
                <button class="button-38" (click)="goEntertainment()">
                    See More
                </button>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-container3">
    <div class="head">
        <p class="project-title">Unlocking Knowledge and Skills</p>
        <p class="head-subtitle">Explore the digital realm and unleash your potential. Empower your skills, embrace
            learning, and discover endless possibilities on this transformative journey.</p>
    </div>
    <div class="link-container" id="link-container">
        <div class="link-card" id="link-card" *ngFor="let link of skillLinks; let i = index"
            (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave()">
            <div class="overlay" [ngStyle]="overlayStyles(i)"></div>
            <img class="link-card-photo" src={{link.icon}}>
            <div class="link-card-heading">{{link.name}}</div>
            <div class="link-card-click" (click)="goLink(link.link)" [ngStyle]="overlayButton(i)">Click Here</div>
        </div>
    </div>
</div>
<div id="contact-component">
    <app-contact></app-contact>
</div>
<div id="reviews-component">
    <app-reviews></app-reviews>
</div>
<app-footer></app-footer>