<div class="footer-content">
    <div class="copy-rights-message">
        Copyright ©2023 All rights reserved | This is made by Ketheeswaran Kukesan
    </div>
</div>


<!-- <div id="social-media"> -->
    <!-- <a href="https://www.linkedin.com/in/ketheeswaran-kukesan-0b1b0a1a0/" target="_blank">
        <img class="social-media-icon"
            src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png"
            alt="1" />
    </a>
    <a href="https://www.facebook.com/ketheeswaran.kukesan/" target="_blank">
        <img class="social-media-icon"
            src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png"
            alt="1" />
    </a>
    <a href="https://www.instagram.com/kukesan/" target="_blank">
        <img class="social-media-icon"
            src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_color-512.png"
            alt="1" />
    </a>
    <a href="https://www.github.com/kukesan" target="_blank">
        <img class="social-media-icon"
            src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_color-512.png"
            alt="1" />
    </a> -->
<!-- </div> -->