<div class="experience-container">
    <ul>
        <p class="experience-container-heading">Organizations</p>
        <li>
            <p class="experience-heading"> Volunteer in Design Team of IEEE Computer Society in
                University of Moratuwa</p>
        </li>
        <li>
            <p class="experience-heading">Volunteer in Editorial Team of “Gammeddata IEEE Api-Phase
                3” in University of Moratuwa</p>
        </li>
        <li>
            <p class="experience-heading">Volunteer in Climathon Jaffna – 2019 </p>
            <p class="experience-subject">[The Organic Movement of North and East (OMNE) in
                association with various youth organizations]</p>
        </li>
        <li>
            <p class="experience-heading">Secretary of Owdatham Tree Planting Organization in 2019</p>
        </li>
        <li>
            <p class="experience-heading"> Member of Interact Club in Jaffna Hindu College</p>
        </li>
    </ul>
</div>