.organization-container {
    /* width: 70%; */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 5vh;
}

.organization-row {
    margin-bottom: 5vh;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: fit-content;
    padding: 20px;
}

.organization-details {
    flex: 60%;
}

.organization-heading {
    font-size: 16px;
    font-family: var(--font);
    font-weight: 600;
    margin-left: 2vw;
    color: var(--fonts-color);
    width: 95%;
    margin-top: 4vh;
}

.organization-subject {
    margin-top: 1vh;
    font-size: 14px;
    font-family: var(--font);
    margin-left: 2vw;
    color: var(--fonts-color);
}

.organization-image {
    flex: 40%;
}

.image-card {
    /* max-width: 100%;
    max-height: 100%; */

    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 992px) {
    .organization-container {
        margin-top: 2vh;
    }
    .organization-row {
        width: 100%;
        margin: 0;
    }
}