<div class="experience-container">
    <p class="experience-container-heading">Organizations</p>
    <div class="experience-row">
        <div class="experience-details">
            <p class="experience-heading"> Volunteer in Design Team of IEEE Computer Society in
                University of Moratuwa</p>
        </div>
        <div class="experience-image">
            <img class="image-card" src="../../../assets/Images/Experience/CS-Chapter-Logo-UOM-1024x307.jpg">
        </div>
    </div>
    <div class="experience-row">
        <div class="experience-details">
            <p class="experience-heading">Volunteer in Editorial Team of “Gammeddata IEEE Api-Phase
                3” in University of Moratuwa</p>
        </div>
        <div class="experience-image">
            <img class="image-card" src="../../../assets/Images/Experience/ies.png">
        </div>
    </div>
    <div class="experience-row">
        <div class="experience-details">
            <p class="experience-heading">Volunteer in Climathon Jaffna – 2019 </p>
            <p class="experience-subject">[The Organic Movement of North and East (OMNE) in
                association with various youth organizations]</p>
        </div>
        <div class="experience-image">
            <img class="image-card" src="../../../assets/Images/Experience/climathon3.png">
        </div>
    </div>
    <div class="experience-row">
        <div class="experience-details">
            <p class="experience-heading">Secretary of Owdatham Tree Planting Organization in 2019</p>
        </div>
        <div class="experience-image">
            <img class="image-card" src="../../../assets/Images/Experience/owdatham4.jpg">
        </div>
    </div>
    <div class="experience-row">
        <div class="experience-details">
            <p class="experience-heading"> Member of Interact Club in Jaffna Hindu College</p>
        </div>
        <div class="experience-image">
            <img class="image-card" src="../../../assets/Images/Jaffna_Hindu_Collge_logo.png">
        </div>
    </div>
</div>