.competition-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: white;
}

.competition{
    opacity: 0;
    margin-top: 10px;
}

.competition-heading {
    font-size: 16px;
    font-family: var(--font);
    font-weight: 600;
    margin-left: 2vw;
    color:var(--font-color);
    height: 12px;
}

.competition-subject {
    margin-top: 1vh;
    font-size: 14px;
    font-family: var(--font);
    margin-left: 2vw;
    color:var(--font-color);
}

ul li {
    list-style: none;
    position: relative;
    margin: 4%;
}

ul li::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 5px;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/portfolio-924c8.appspot.com/o/Source%20Images%2Fbullet-1.png?alt=media&token=08c5fb3e-6a04-4591-8303-1a162fe44132);
}

@media only screen and (max-width: 992px) {
    .competition{
        width: 100%;
    }
    .competition-heading {
        margin-left: 4vw;
    }
    
    .competition-subject {
        margin-left:4vw;
    }
}